body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  justify-content: center;
  max-width: 100%;
  width: calc(100vw - 34px);
  font-size: 0.875rem;
}

div.wrapper {
  width: 500px;
  height: 500px;
  overflow: auto;
}

/* navigation bar */
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

/*Color of the actively used nav-bar button*/
.nav-masthead .active {
  color: #fff;
  border-bottom-color: #563D7C;
}

/*nav-bar container sizing*/
.nav-bar-container {
  max-width: 55em;
}

/*Table container sizing*/
.table-container {
  max-width: 80em;
}

.img-icons {
  padding-right: 5px;
}

/* page fade-in animations */
.container-animation {
  animation: transitionIn 1.25s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

/* front-page typewriter animation */
.typewriter h1 {
  line-height: 1.4em;
  overflow: hidden;
  border-right: .15em solid #563D7C;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 2px;
  animation:
    typing 2.3s steps(22, end),
    blink-caret 1.1s steps(40, end) infinite;
}

.typewriter {
  display: inline-flex;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #563D7C;
  }
}

html {
  scroll-behavior: smooth;
}

.table-bordered {
  border-color: #fff;
}

.vert-spacing {
  margin-top: 35px;
}

/*Custom scrollbar (Currently works for chrome)*/
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #563D7C;
  border-radius: 10px;
}

/*Adjusts color when cursor is hovered over scrollbar*/
::-webkit-scrollbar-thumb:hover {
  background: #442f64;
}

/*Home page description paragraph*/
.homeParagraph {
  margin: auto;
  width: 30%;
  padding: 10px;
  font-size: 16px;
}

.table-bordered {
  border-color: #636363;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-bottom-color: #636363 !important;
}

.table-body-color {
  color: #9b9b9b !important;
  --bs-table-bg: #343a40 !important;
}

.coin-id-text {
  color: #fff;
  font-weight: 700;
}

.bg-dark {
  background-color: #121212 !important;
}

.table-dark {
  --bs-table-bg: #121212;
  --bs-table-striped-bg: #636363;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #fff;
  color: #9b9b9b;
}

.th-align-left {
  text-align: left;
}

.th-align-right {
  text-align: right;
}

.th-upper-case {
  text-transform: uppercase;
}

.row {
  display: flex;
  flex-direction: row;
}

.block {
  width: 200px;
  display: inline-block;
}

.center {
  flex: content;
  height: 45px;
  line-height: 45px;
}